@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300&display=swap');


.header{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,39,0.7)),url("../../assets/imgs/bg-hero.jpg");
	background-position: center center;
	background-size: cover;
	position: relative;
	background-color: red;
}

.sticky {
	position: fixed;
	z-index: 9;
	top: 0;
	width: 88%;
	height: 1%;
	background-color:#201F1F;
	transition: background-color 300ms linear;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.24);
}
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2.5% 6%;
}
nav img{
  width: 280px;
}
.nav-links{
	flex: 1;
	text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.nav-links ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 14px;
}
.nav-sticky ul li a{
	color: #89592F;
	font-weight: 700;
	letter-spacing: 0.6px;
}

.nav-links ul li::after{
	content: "";
	width: 0%;
	height: 2px;
	background-color: #926a42;
	display: block;
	margin: auto;
	transition: 0.3s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
/* .nav-links ul li a:hover{
  color: #926a42;
} */

.text-box{
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.text-box h1{
	font-family: 'Cormorant Garamond', serif;
	font-size: 72px;
	font-weight: 100;
}
.divide{
	width: 100%;
	height: 1.5px;
	background-color: #89592F;
	margin: 16px 0;
}
.text-box p{
	font-family: 'Hind Vadodara', sans-serif;
	margin: 16px 0 40px;
	font-size: 18px;
	letter-spacing: 9px;
	font-weight: 500;
	color: #89592F;
}
.text-box span {
	font-family: 'Hind Vadodara', sans-serif;
	font-size: 19px;
	letter-spacing: 4px;
	font-weight: 600;
	color: #89592F;
	text-decoration: overline;
}


.btn-whats {
	display: flex;
    justify-content: center;
    align-items: center;
}
.btn-whats a svg {
	position: absolute;
    left: -3px;
    bottom: -3px;
}
.btn-insta {
	display: none;
    justify-content: center;
    align-items: center;
}

.btn-hero{
	display: flex;
    justify-content: flex-end;
    align-items: center;
	margin: 40px 0 16px 0;
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 1px;
	border: 1px solid #0b5c29;
	border-radius: 30px;
	width: 300px;
	padding: 16px;
	background-color: #00BC28;
	position: relative;
}

.btn-hero:hover{
	transform: scale(1.07);
	transition: 0.4s;
}
.incon-whats{
	font-size: 20px;
}
.close-icon-nav{
  display: none;
}

.tns-content {
	padding-top: 6%;
}
.tns-content button {
	display: none;
}

.ctps-container {
	display: flex;
	justify-content: center;
	align-items: center;
    background-color: #201F1F;
	height: 460px;
}
.ctps-container h4 {
	font-family: 'Hind Vadodara';
    font-size: 44px;
    color: #89592F;
    padding: 16px 0;
	letter-spacing: 1px;
}
.ctps-container span {
	text-align: left;
    font-size: 20px;
    font-family: 'Hind Vadodara';
    color: #fff;
    line-height: 22px;
    font-weight: 400;
}
.ctps-content {
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 300px;
}
.ctps-image {
	width: 400px;
	height: 300px;
}
.ctps-btn {
	display: flex;
    justify-content: center;
    align-items: center;
	margin: 30px 0;
	color: #fff;
	font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
	text-decoration: none;
	border-radius: 30px;
	padding: 16px 40px;
	border: solid 1px #fff;
}
.ctps-btn:hover {
	background-color: #fff;
	color: #0070AF;
	transition: 0.7s
}

@media(max-width: 700px){
	nav{
		display: none;
	}
	.header{
		width: 100%;
		background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,39,0.7)),url("../../assets/imgs/bg-hero.jpg");
		background-position: center top;
		background-size: cover;
		position: center top;
	}
	.text-box h1{
		font-size: 60px;
	}
	.text-box p {
		font-size: 10px;
		font-weight: bold;
		margin: 0;
	}
	.btn-insta{
		display: flex;
	}
	.btn-hero-2{
		color: #fff;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		text-decoration: none;
		font-size: 15px;
		font-weight: bold;
		letter-spacing: 1px;
		border-radius: 30px;
		width: 332px;
		padding: 3px;
		position: relative;
		background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
		background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
		background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
	}
	.btn-hero-2 svg {
		width: 40px;
	}

	.btn-hero{
		justify-content: space-evenly;
		align-items: center;
		padding: 0;
		width: 339px;
	}
	.btn-whats a svg {
		position: initial;
		width: 40px;
	}

	.ctps-container {
		flex-direction: column;
		height: auto;
		width: auto;
		padding: 40px 0;
	}
	.ctps-container h4 {
		text-align: center;
		font-size: 30px;
		width: 300px;
		padding: 0px 0 22px 0;
	}
	.ctps-container span {
		text-align: center;
    	font-size: 17px;
		width: 300px;
	}
	.ctps-content {
		align-items: center;
		width: 100%;
		height: 100%;
	}
	.ctps-image {
		width: 100%;
    	height: 100%;
	}

	
}