@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap');

.call-contact{
	margin: 100px auto;
	width: 80%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,39,0.7)),url("../../../assets//imgs/banner2.jpg");
	background-position: center;
	background-size: cover;
	border-radius: 10px;
	text-align: center;
	padding: 100px 0;
}
.call-contact h1{
	color: #fff;
	margin-bottom: 40px;
	padding: 0;
	font-size: 28;
	font-weight: 600;
}

svg:hover {
	color:#926a42!important;
}

@media(max-width: 700px){
	.call-contact h1{
		font-size: 22px;
		padding: 20px
	}
}

.footer{
	width: 100%;
	text-align: center;
	padding: 50px 0;
	background-color: #3E3E3F;
}

.footer h4{
	margin-bottom: 25px;
	margin-top: 20px;
	font-weight: 600;
	color: #fff;
}
.footer p{
	font-family: 'Source Code Pro', monospace;
	padding: 0px;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
	padding: 16px 60px;
	
}

.footer span{
	font-size: 15px;
    color: #926a42;
    font-weight: bold;
    letter-spacing: 2px;
}

.contact-medias{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5px 0
}

.copy {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	height: 30px;
}
.copy p {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #926a42;
	font-size: 14px;
	font-weight: 500;
}

@media(max-width: 700px){
	.footer{
		padding: 26px 0;
	}
	.footer p{
		font-size: 14px;
		padding: 10px 50px;
	}
	.contact-medias a{
		padding: 1px;
		margin: 16px;
	}
	.copy p {
		font-size: 10px;
	}
}